

<nav class="sidebar">

  <div class="input-group">
    <input type="text" class="form-control" style="z-index:10;" placeholder="Search...">
    
    <span class="input-group-btn">
      
      <button class="btn btn-secondary" type="button">&#x2315;</button>
    </span>
  </div>

  <hr>


  <h6>Public Channels</h6>

  <ul class="nav nav-pills flex-column">

    <li class="nav-item">

      <a (click)="onChannelChange('News Feed')" class="nav-link" routerLink="/home"># News Feed</a>
    </li>
    <li class="nav-item">
      <a (click)="onChannelChange('Trends')" class="nav-link" routerLink="/home"># Trends</a>
    </li>
    <li class="nav-item">
      <a (click)="onChannelChange('Discounts')" class="nav-link" routerLink="/home"># Discounts</a>
    </li>
    <li class="nav-item">
      <a (click)="onChannelChange('...')" class="nav-link" routerLink="/home"># ...</a>
    </li>
  </ul>


  <hr>


  <h6>Private Channels</h6>
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a (click)="onChannelChange('Francis')" class="nav-link" routerLink="/home"># Francis</a>
    </li>
    <li class="nav-item">
      <a (click)="onChannelChange('My-Bot')" class="nav-link" routerLink="/home"># My-Bot</a>
    </li>
    <li class="nav-item">
      <a (click)="onChannelChange('...')" class="nav-link" routerLink="/home"># ...</a>
    </li>
    <li class="nav-item">
      <a (click)="onChannelChange('...')" class="nav-link" routerLink="/home"># ...</a>
    </li>
  </ul>

  <hr>


  <button class="btn btn-primary">Hide</button>

</nav>

