<br/>
<h1>Help Center</h1>
<hr>
<br/>
<form class="form-inline">
	<input type="text" class="form-control" placeholder="How can we help?" id="inputDefault"> 
	<button type="submit" class="btn btn-primary">Search</button>
</form>
<br/>
<br/>

<p>-New user here?</p>
<p>-Account Issues</p>
<p>-Discussion group questions</p>
<p>-Want to add products to the site?</p>
<p>-Feature bugs/feature suggestions</p>

<br/>
<br/>
<form class="form-inline">
	<p>Didn't find the question you needed?</p>
	<button type="button" class="btn btn-primary btn-sm">Contact us</button>
</form>