<div class="container">

  <div class="text-center">
    <button type="button" class="btn btn-primary">Women</button>
    <button type="button" class="btn btn-primary">Men</button>
    <button type="button" class="btn btn-primary">Children</button>
  </div>

  <div class="row" style="padding:20px">
    <button class="btn btn-link col-4 text-center" onClick="location.href='/search'">
      <img class="img-fluid" style="height:200px;" src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=">
      <h6>Shoes</h6>
    </button>

    <button class="btn btn-link col-4 text-center" onClick="location.href='/search'">
      <img class="img-fluid" style="height:200px;" src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=">
      <h6>Jackets</h6>
    </button>

    <button class="btn btn-link col-4 text-center" onClick="location.href='/search'">
      <img class="img-fluid" style="height:200px;" src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=">
      <h6>Mens?</h6>
    </button>
  </div>

  <div class="row" style="padding:20px">
    <button class="btn btn-link col-4 text-center" onClick="location.href='/search'">
      <img class="img-fluid" style="height:200px;" src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=">
      <h6>Market Name</h6>
    </button>

    <button class="btn btn-link col-4 text-center" onClick="location.href='/search'">
      <img class="img-fluid" style="height:200px;" src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=">
      <h6>Market Name</h6>
    </button>

    <button class="btn btn-link col-4 text-center" onClick="location.href='/search'">
      <img class="img-fluid" style="height:200px;" src="data:image/gif;base64,R0lGODlhAQABAIABAADcgwAAACwAAAAAAQABAAACAkQBADs=">
      <h6>Market Name</h6>
    </button>
  </div>

</div>
