<div class="container">
  <div class="row">
    <div class="col-3">
      <img class="img-fluid" style="height:200px;width:400px" src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=">

      <br/>
      <p></p>
      <br/>

      <h4>Username</h4>
      <br/>
      <p>Description text Description text</p>
      <p>Description text Description text</p>
      <p>Description text Description text
      <p>Description text Description text</p>
    </div>
    <div class="col-1"></div>
    <div class="col-6">
      <h3>Outfits</h3>
      <div class="row">
        <div class="col-4">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-4">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-4">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
      </div>
      <hr>
      <h3 style="text-align:center">Wardrobe</h3>
      <br/>
      <h5>Shoes</h5>
      <div class="row">
        <div class="col-4">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-4">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-4">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
      </div>
      <br/>
      <h5>Shirts</h5>
      <div class="row">
        <div class="col-4">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-4">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-4">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
      </div>

    </div>
  </div>
</div>
