<div class="container">
  <div class="row">
    <div class="col-3">
      <img class="img-fluid" style="height:200px;width:400px" src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=">

      <br/>
      <p></p>
      <br/>

      <h4>Username</h4>
      <br/>
      <div class="profile container">
        <p>Insert description</p>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-8">
      <h3>Outfits</h3>
      <div class="row">
          <div class="col-3">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
          </div>
          <div class="col-3">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
          </div>
          <div class="col-3">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
          </div>
          <div class="col-3">
            <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
          </div>
    </div>

      <hr>
      <h3 style="text-align:center">Wardrobe</h3>
      <br/>
      <h5>Shoes</h5>
      <div class="row">
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
      </div>

      <hr>

      <br/>
      <h5>Shirts</h5>
      <div class="row">
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
      </div>

      <hr>

      <br/>
      <h5>Shoes</h5>
      <div class="row">
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
      </div>

      <hr>

      <br/>
      <h5>Hot girls</h5>
      <div class="row">
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
        <div class="col-3">
          <img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="120px" height="120px">
        </div>
      </div>

    </div>
  </div>
</div>
