<div style="border-style:double;padding:20px">
  <img class="d-inline" style="height:80px;" src="https://www.buira.org/assets/images/shared/default-profile.png" alt="Card image cap">
  <h5 class="d-inline">{{post.user.name}}</h5>
  <p>This is the main body of the message/post made by the user which will be displayed here. This is the main body of the message/post made by the user which will be displayed here.
     This is the main body of the message/post made by the user which will be displayed here. This is the main body of the message/post made by the user which will be displayed here.
     This is the main body of the message/post made by the user which will be displayed here. This is the main body of the message/post made by the user which will be displayed here.
    This is the main body of the message/post made by the user which will be displayed here. This is the main body of the message/post made by the user which will be displayed here.
  </p>
  <hr>
  <img class="" style="height:50px" src="https://cdn.tobi.com/product_images/sm/1/black-alannah-off-shoulder-bodycon-dress.jpg" alt="Card image cap">
  <hr>
  <p>Comments Section</p>
</div>
