
<h1 style="margin-left:36px">Account Setting</h1>
<hr style="margin-left:36px">
<br/>
<div class="containter">
	<div class="row">
		<div class="col-1">
			<p style="margin-left:50px;font-size:17px">Profile</p>
		</div>
		<div class="col-2"></div>
		<div class="col-9">
			<div class="row">
				<img src="data:image/gif;base64,R0lGODlhAQABAIABAAJ12AAAACwAAAAAAQABAAACAkQBADs=" width="90px" height="90px">
				<p style="margin-left: 50px; margin-top: 17px"><u>Change your profile picture<br/>
				<br/>
				Remove profile picture</u></p>
			</div>
			<br/>
			<div class="row">
				<div class="col-2">
					<p style="margin-right: 60px">Username1</p>
				</div>
				<div class="col-5">
					<p><u>Change profile name</u></p>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-3">
					<p>Wardrobe visibility</p>
				</div>
				<div class="col-9">
					<div class="switch">
					  <input id="cmn-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
					  <label for="cmn-toggle-4"></label>
					</div>
				</div>
			</div>
			<br/>
			<div class="row">
				<div class="col-3">
					<p>Subscriptions visibility</p>
				</div>
				<div class="col-9">
					<div class="switch">
				 		<input id="cm-toggle-4" class="cmn-toggle cmn-toggle-round-flat" type="checkbox">
				  		<label for="cm-toggle-4"></label>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br/>
	<div class="row">
		<div class="col-1">
			<p style="margin-left:50px;font-size:17px">Email</p>
		</div>
		<div class="col-2"></div>
		<div class="col-9">
			<p>Send me email notifcations of:</p>
			<div class="row">
				<div class="col-4">
					<p style="margin-left:23px; margin-bottom:-8px">Public channels updates:</p>
				</div>
				<div class="col-8">
					<div class="form-check" style="margin-top:-10px">
					  <label class="form-check-label">
					    <input type="checkbox" class="form-check-input" value="">
					  </label>
					</div>
				</div>
			</div>
			<p style="margin-left:23px; margin-bottom:-8px">Private channel updates:<p>
			<p style="margin-left:23px">Updates and suggestions:<p>
		</div>
	</div>
</div>
